/* Variables */

:root {
--basic-white: #FFFFFF;
--basic-black: #000000;
--logo-blue: #81B3D3;
--basic-blue: #81B3D2;
--basic-brown: #766357;
--basic-gray: #F2F2F2;
 --background-gray: #EEEEEE;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans" sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation {
  list-style: none;
}

.greeting {
  list-style: none;
  text-align: center;
}

h1 {
  font-size: 21; 
  line-height: 26;
}

.question {
  list-style: none;
  text-align: center;
}

.search-form ul {
  display: none;
  list-style: none;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.search-hotels {
  display: none;
  background-color: var(--basic-brown);
  list-style: none;
  text-align: center;
}

.botton {
  background-color: var(--basic-blue)
}

.main-footer ul {
    list-style: none;
    text-decoration: none;
}

.social span {
  list-style: none;
  text-decoration: none;
}