:root {
--basic-white: #FFFFFF;
--basic-black: #000000;
--logo-blue: #81B3D3;
--basic-blue: #81B3D2;
--midle-blue: #669EC0;
--dark-blue: #5496BD;
--basic-brown: #766357;
--midle-brown: #604E43;
--dark-brown: #503E33;
--basic-gray: #F2F2F2;
--border-gray: #E5E5E5;
--background-gray: #EEEEEE;

--special-dark: #333333;
--special-gray: #666666;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation, a {
  font-weight: bold;
  list-style: none;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-selected {
 color: var(--basic-brown);
}

.greeting {
  list-style: none;
  text-align: center;
}

.sedona {
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.blue-box {
  background: var(--basic-blue);
  color: var(--basic-white);
  font-weight: bold;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  display: block;
  width: 400px;
  height: 256px;
}

.white {
  font-weight: normal;
  font-size: 14px;
  color: var(--basic-white);
}

.list {
  list-style: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;

}

.text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--special-dark);
}


.advantages {
  list-style: none;
  background-color: var(--background-gray);
}

.causes {
  text-align: center;
  text-transform: uppercase;
  color: var(--special-dark);
}

.question {
  list-style: none;
  text-align: center;
}

.fat {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

.normal {
  font-size: 14px;
  color: var(--basic-black);
}



.search-form ul {
  display: none;
  list-style: none;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.search-hotels {
  display: none;
  background-color: var(--basic-brown);
  list-style: none;
  text-align: center;
}

.botton {
  background-color: var(--basic-blue)
}



/*Footer*/


.main-footer ul {
  list-style: none;
  background-color: transparent;
}

.communication {
  font-weight: bold;
  font-size: 21px;
  font-weight: 26px;
}

.social a:hover,
.social a:focus {
  background-color: var(--midle-blue);
}


.social a:active {
  display: block;
  background-color: var(--dark-blue);
}

.twit-button {
  background: url("../img/icons/twitter.svg") center no-repeat; 
  display: block;
  background-color: var(--basic-blue);
  width: 46px;
  min-height: 48px;
}

.fb-button {
  background: url("../img/icons/fb-icon.svg") center no-repeat;
  background-color: var(--basic-blue);
  display: block;
  width: 46px;
  min-height: 48px;
}

.yt-button  {
  text-align: center;
  background: url("../img/icons/youtube.svg") center no-repeat;
  display: block;
  background-color: var(--basic-blue);
  width: 46px;
  min-height: 48px;
}

.academy {
  background: url("../img/icons/logo-htmlacademy.svg"); 
  display: block;
  width: 115px;
  height: 41px;
}

.academy:hover {
  background: url("../img/icons/logo-htmlacademy-focus.svg"); 
  display: block;
  width: 115px;
  height: 41px;
}


.academy:active {
  background: url("../img/icons/logo-htmlacademy-active.svg"); 
  display: block;
  width: 115px;
  height: 41px;

}


/*catalog*/

.fs {
  color: var(--basic-white);
  background-color: var(--basic-black);
  background-image: url("../img/background2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.selection-infrastructure label,
.selection-type label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.selection-infrastructure label::before,
.selection-type label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-white);
}

.selection-infrastructure label::after,
.selection-type label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 12px;
  height: 12px;
  background-color: green;
}

.found {
  font-size: 21px;
}

.sortting {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.sort {
  list-style: none;
}

.sort a{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-blue);
}

.sort a:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.sort a:focus{
  color: var(--basic-blue);
  opacity: 1;
  border-bottom: none;
}

.sort a:active {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: none;
}

.up {
  background-image: url(../img/icons/up.svg);
}

.down {
  display: block;
  background-image: url(../img/icons/up.svg) no-repeat;
  transform: rotate(-180deg);
}

.hotel-list{
  border-bottom: 1px solid var(--border-gray);
}

.hotel-name {
  font-weight: bold;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
}

.hotel-name:hover,
.hotel-name:focus {
  text-decoration: none;
  color: var(--basic-blue);
}

.hotel-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.price {
  line-height: 21px;
}

.detail {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
  line-height: 21px;
  display: block;
  width: 110px;
  height: 27px;
}

.detail:hover,
.detail:focus {
  background-color: var(--midle-blue);
  color: var(--basic-white);
  text-align: center;
  display: block;
  width: 110px;
  height: 27px;
}

.detail:active {
  background-color: var(--dark-blue);
  color: var(--basic-white);
}

.reservation {
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  line-height: 21px;
  display: block;
  width: 142px;
  height: 27px;
}

.reservation:focus,
.reservation:hover {
  text-align: center;
  color: var(--basic-white);
  background-color: var(--midle-brown);
  display: block;
  width: 142px;
  height: 27px;
}


.rating {
  text-align: center;
  color: var(--special-gray);
  background-color: var(--basic-gray);
  line-height: 21px;
  display: inline-block;
  padding: 3px 12px 3px 15px;
}




.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
} 